name: 极简服务器状态监控

# 定义定时触发：每 10 分钟运行一次
on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  check_status:
    runs-on: ubuntu-latest
    
    # 定义环境变量：将 IP 从 Secret 传入脚本
    env:
      SERVER_IP: sr.ccmeta.cc

    steps:
    
    - name: 检出仓库代码
      uses: actions/checkout@v4

    - name: 执行服务器检查脚本
      run: bash ./monitor.sh

# 当这个 Job 失败 (即 monitor.sh 返回 exit 1) 时，
# GitHub 会自动给你的邮箱发送一封“Workflow Failed”的通知邮件！